  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height : 100%;
    margin : 0;
    padding: 0;
  }

  nav{
    height:75px;
    background-color: grey;
  }

  footer{
    height:75px;
    background-color: grey;
  }

  .main-section {

    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    align-items    : center;
  }

  #map {
    width : 100%;
    height: 600px;
  }

  #restaurants-list {
    width:33.33%;
  }

  #search-area-button {
    padding           : 10px 30px;
    color             : #454545;
    text-align        : center;
    text-shadow       : 0 1px 2px rgba(0, 0, 0, 0.25);
    background        : #ecf0f1;
    border            : 0;
    border-bottom     : 2px solid #dadedf;
    cursor            : pointer;
    -webkit-box-shadow: inset 0 -2px #dadedf;
    box-shadow        : inset 0 -2px #dadedf;
  }

  #controls{
    display:flex;
    flex-direction: column;
  }

  .infoWindow h1, .infoWindow h3, .infoWindowRating, .infoWindowAddress{
    text-align:center;
  }

  .infoWindow ul{
    padding:0;
  }