  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height   : 100%;
    margin   : 0;
    padding  : 0;
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin : 0;
    padding: 0;
  }

  .my-50 {
    margin: 50px 0;
  }

  .my-15 {
    margin: 15px 0;
  }

  .pady-15 {
    padding: 15px 0;
  }

  .text-white {
    color: #fff;
  }

  header {
    height         : auto;
    background     : #FF6A00;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
  }

  nav {
    height        : auto;
    background    : #923C00;
    display       : flex;
    flex-direction: column;
    align-items   : center;
  }

  nav p {
    font-size: 1.2em;
  }

  footer {
    height          : 75px;
    background-color: grey;
  }

  .main-section {
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    align-items    : center;
  }

  #map {
    width : 100%;
    height: 700px;
  }

  #restaurants-list {
    width          : 33.33%;
    padding        : 0 15px;
    height         : 700px;
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;
    align-items    : center;
  }

  .restaurant-file {
    min-width    : 50%;
    max-width    : 50%;
    padding      : 15px;
    border       : 1px solid black;
    border-radius: 25px;
  }

  #search-area-button {
    padding           : 10px 30px;
    color             : #454545;
    text-align        : center;
    text-shadow       : 0 1px 2px rgba(0, 0, 0, 0.25);
    background        : #ecf0f1;
    border            : 0;
    border-bottom     : 2px solid #dadedf;
    cursor            : pointer;
    -webkit-box-shadow: inset 0 -2px #dadedf;
    box-shadow        : inset 0 -2px #dadedf;
  }

  #controls {
    display       : flex;
    flex-direction: column;
  }

  .infoWindow h1,
  .infoWindow h3,
  .infoWindowRating,
  .infoWindowAddress {
    text-align: center;
  }

  .infoWindowAddress {
    font-style: italic;
  }

  .infoWindow ul {
    padding: 0;
  }

  /*BOUTON SELECTION ETOILES*/

  .select-css {
    display           : block;
    font-size         : 16px;
    font-family       : sans-serif;
    font-weight       : 700;
    color             : #444;
    line-height       : 1.3;
    padding           : .6em 1.4em .5em .8em;
    box-sizing        : border-box;
    margin            : 0;
    border            : 1px solid #aaa;
    box-shadow        : 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius     : .5em;
    -moz-appearance   : none;
    -webkit-appearance: none;
    appearance        : none;
    background-color  : #fff;
    /* note           : bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
        
    */
    background-image  : url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat  : no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size    : .65em auto, 100%;
  }

  /* Hide arrow icon in IE browsers */
  .select-css::-ms-expand {
    display: none;
  }

  /* Hover style */
  .select-css:hover {
    border-color: #888;
  }

  /* Focus style */
  .select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow  : 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow  : 0 0 0 3px -moz-mac-focusring;
    color       : #222;
    outline     : none;
  }

  /* Set options to normal weight */
  .select-css option {
    font-weight: normal;
  }

  /* Support for rtl text, explicit support for Arabic and Hebrew */
  *[dir="rtl"] .select-css,
  :root:lang(ar) .select-css,
  :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding            : .6em .8em .5em 1.4em;
  }

  /* Disabled styles */
  .select-css:disabled,
  .select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  }

  .select-css:disabled:hover,
  .select-css[aria-disabled=true] {
    border-color: #aaa;
  }

  /*MEDIA QUERIES*/

  @media screen and (max-width: 768px) {
    .main-section {
      flex-direction: column-reverse !important;
    }
  }