  html,
  body {
    height          : 100%;
    margin          : 0;
    padding         : 0;
    background-color: #fefefe;
    font-size       : 14px;
  }
  nav{
    background-color: rgba(0, 0, 0, 0.5);
  }
  .main-container {
    background-image     : url('images/background.jpg');
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;
  }
  #rating-filter {
    max-width: 180px;
    display:inline-block;
  }
  footer {
    height: 75px;
    width : 100%;
  }
  aside {
    height: 100%;
  }
  #restaurants-list {
    max-height: 443px;
    overflow  : auto;
  }
  .map-container {
    height: 600px;
  }
  #map {
    width : 100%;
    height: 100%;
  }
  .infoWindow h1,
  .infoWindow h3,
  .infoWindowRating,
  .infoWindowAddress {
    text-align: center;
  }
  .infoWindowAddress {
    font-style: italic;
  }
  .infoWindow ul {
    padding: 0;
  }
  .gm-ui-hover-effect {
    top  : 0px !important;
    right: 0px !important;
  }
  .gm-ui-hover-effect img {
    width : 15px !important;
    height: 15px !important;
  }
  .poi-info-window {
    padding: 20px !important;
  }